###
###
###         Configuration data used throughout the project, at the project level, including Docker
###
###


# config data for database
POSTGRES_USER=eora_postgres_user
POSTGRES_PASSWORD=wwwww
POSTGRES_DB=eora_DB
POSTGRES_DB_PORT=5432
POSTGRES_DB_HOST=eora_backend_database_container
DB_NAME=eora_DB

# To auth in PGAdmin
PGADMIN_DEFAULT_EMAIL=pguser@mail.com
PGADMIN_DEFAULT_PASSWORD=pgpassword

# true if it's local development
LOCAL=true

### Note for auth in PGAdmin interface

### Host name / adress: eora_backend_database_container
### Username: eora_postgres_user
### Maintenance database: eora_DB
### Password: wwwww

# Fast API superuser
SUPERUSER_USERNAME=admin
SUPERUSER_PASSWORD=supersecretpassword

SECRET_KEY=supersecretkey

HUGGINGFACE_TOKEN=
